@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: whitesmoke;
  min-height: 100vh;
}

.encabezado {
  background-color: rgb(48, 48, 48);
  width: 100%;
  margin-top: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav ul a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*fin de header*/
@media (min-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
/*grilla*/
header {
  grid-area: header;
}

.mainIndex {
  grid-area: mainIndex;
}

.seccionParrafo {
  grid-area: seccionParrafo;
}

.seccionIndex {
  grid-area: seccionIndex;
}

footer {
  grid-area: footer;
}

.grillaIndex {
  display: grid;
  grid-template-areas: "header" "mainIndex" "seccionParrafo" "seccionIndex" "footer";
}

/* main*/
.titulo {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/principal/canicheprincipal.jpg);
  background-size: cover;
  background-position: center;
}

.tituloText {
  padding-bottom: 40%;
  font-family: "Rubik Mono One", sans-serif;
  font-weight: bold;
  font-size: 0.5em;
  -webkit-text-stroke: 1px black;
  color: gainsboro;
  text-align: center;
  padding-top: 50%;
}

.seccionParrafo {
  margin-top: 10%;
}
.seccionParrafo h2 {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 5px;
  border-bottom: 1px solid white;
}
.seccionParrafo p {
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.seccionParrafo1 {
  background-color: rgb(48, 48, 48);
  margin: 5px 5px 5px 5px;
  padding: 10px;
  gap: 10px;
  color: white;
  border-radius: 5px;
}

.seccionParrafo2 {
  background-color: rgb(48, 48, 48);
  margin: 5px 5px 5px 5px;
  padding: 10px;
  gap: 10px;
  color: white;
  border-radius: 5px;
}

.seccionParrafo3 {
  background-color: rgb(48, 48, 48);
  margin: 5px 5px 5px 5px;
  padding: 10px;
  gap: 10px;
  color: white;
  border-radius: 5px;
}

.seccionIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: small;
}
.seccionIndex img {
  height: 200px;
  width: 100%;
  border-radius: 7px;
  box-shadow: 10px 0 5px grey, -10px 0 10px grey;
}

@media (min-width: 600px) {
  .seccionParrafo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .seccionIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12%;
  }
  .seccionIndex img {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 768px) {
  .titulo {
    height: 600px;
  }
  .tituloText {
    font-size: 1em;
  }
  .seccionIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 12%;
  }
  .seccionIndex img {
    height: 220px;
    box-shadow: 0 -10 10px grey;
  }
}
.mainNosotros {
  grid-area: mainNosotros;
}

.nosotros {
  grid-area: seccionNosotros;
}

.grillaNosotros {
  display: grid;
  grid-template-areas: "header" "mainNosotros" "seccionNosotros" "footer";
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: grey;
  margin: 5% 1% 2% 5%;
}
.nosotros p {
  font-size: 18px;
  text-align: start;
  margin: 10px 10px 10px 20px;
}
.nosotros img {
  width: 200px;
  height: 250px;
  margin-bottom: 5%;
  margin-top: 3%;
  box-shadow: 5px 5px 7px 3px grey;
  border-radius: 5px;
}

.nosotrosTitulo {
  text-align: center;
  font-weight: bold;
  border-bottom: 10px solid rgb(184, 164, 164);
  color: grey;
  margin-top: 3em;
}

@media (min-width: 768px) {
  .grillaNosotros {
    gap: 1em;
    padding: 1em;
  }
  .nosotrosTitulo {
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(31, 31, 31);
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .nosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .nosotros {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .nosotros img {
    display: none;
  }
  .nosotros h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .presentacion {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/nosotros/images.jpg);
    background-size: cover;
    background-position: flex-end;
    margin-bottom: 60px;
    box-shadow: 5px 5px 7px grey;
  }
  .presentacion h2 {
    font-weight: bold;
    margin-left: 550px;
    text-align: center;
    color: grey;
    font-size: 20px;
  }
  .presentacion p {
    margin-left: 600px;
  }
  .mora {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/nosotros/cabecera_desenredado.jpg);
    background-size: cover;
    background-position: flex-end;
    margin-bottom: 60px;
    box-shadow: 5px 5px 7px grey;
  }
  .mora h2 {
    font-weight: bold;
    margin-left: 550px;
    text-align: center;
    color: grey;
    font-size: 20px;
  }
  .mora p {
    margin-left: 600px;
  }
  .pasitos {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/nosotros/canicheblanco.jpg);
    background-size: cover;
    background-position: flex-end;
    margin-bottom: 60px;
    box-shadow: 5px 5px 7px grey;
  }
  .pasitos h2 {
    font-weight: bold;
    margin-left: 550px;
    text-align: center;
    color: grey;
    font-size: 20px;
  }
  .pasitos p {
    margin-left: 600px;
  }
  .comienzos {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    background: url(../img/nosotros/peluqueria-canina-1.jpg);
    background-size: cover;
    background-position: flex-end;
    margin-bottom: 60px;
    box-shadow: 5px 5px 7px grey;
  }
  .comienzos h2 {
    font-weight: bold;
    color: black;
    margin-left: 550px;
    text-align: center;
    color: grey;
    font-size: 20px;
  }
  .comienzos p {
    margin-left: 600px;
  }
}
.mainServicios {
  grid-area: mainServicios;
}

.servicios {
  grid-area: servicios;
}

.serviciosRealizados {
  grid-area: serviciosRealizados;
}

.contenedor {
  grid-area: contenedor;
}

.grillaServicios {
  display: grid;
  grid-template-areas: "header" "mainServicios" "servicios" "serviciosRealizados" "contenedor" "footer";
}

.mainServicios {
  text-align: center;
  color: grey;
  border-bottom: 10px solid rgb(184, 164, 164);
  margin-top: 3em;
  font-family: "Roboto Slab", serif;
}

.imgServicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}
.imgServicios img {
  width: 280px;
  height: 180px;
}

.serviciosRealizadosTitulo {
  text-align: center;
  border-bottom: 1px solid gainsboro;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
}

.serviciosRealizadosSubtitulo {
  font-style: italic;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.serviciosRealizados h4 {
  font-style: italic;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.contendedorSlider {
  margin: auto;
  background-color: white;
  width: 800px;
  padding: 20px;
}

ul li {
  list-style: none;
}

ul.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

ul.slider li {
  position: absolute;
  opacity: 0;
  height: inherit;
  transition: opacity 0.5s;
}
ul.slider li img {
  width: 300px;
  height: 150px;
}

ul.slider li img {
  width: 300px;
  height: 150px;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu li a {
  color: rgb(48, 48, 48);
  margin: 5px;
}

.yorkshire img {
  width: 250px;
  height: 180px;
}

.yorkshireImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .grillaServicios {
    gap: 3em;
    padding: 2em;
  }
  .mainServicios {
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(31, 31, 31);
    margin-top: 1em;
  }
  .serviciosRealizadosTitulo {
    text-align: center;
  }
  .serviciosRealizadosSubtitulo {
    font-style: italic;
    text-align: center;
  }
  .serviciosRealizados h5 {
    font-style: italic;
  }
  .serviciosRealizadosImg img {
    width: 300px;
    height: 300px;
    margin: 40px 10px 50px 10px;
    border: 2px solid gainsboro;
  }
  ul.slider {
    height: 400px;
    width: 100%;
  }
  ul.slider li img {
    width: 600px;
    height: 350px;
  }
}
@media (min-width: 820px) {
  .yorkshireImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .imgServicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
    text-align: center;
  }
  .servicios1:hover {
    transform: scale(1.2);
  }
  .servicios1 {
    transition: all 3s;
  }
  .servicios2:hover {
    transform: scale(1.2);
  }
  .servicios2 {
    transition: all 3s;
  }
  .servicios3:hover {
    transform: scale(1.2);
  }
  .servicios3 {
    transition: all 3s;
  }
  .serviciosRealizadosTitulo {
    text-align: center;
    margin: 7% 40% 3% 40%;
  }
}
.mainProductos {
  grid-area: mainProductos;
}

.productosImagen {
  grid-area: productosImagen;
}

.grillaProductos {
  display: grid;
  grid-template-areas: "header" "mainProductos" "productosImagen" "footer";
}

.mainProductos h1 {
  text-align: center;
  color: grey;
  border-bottom: 2px solid rgb(184, 164, 164);
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 60px;
}
.mainProductos .mainProductos h2 {
  text-align: center;
  color: grey;
  font-size: medium;
}

.productosImagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: small;
}
.productosImagen img {
  height: 300px;
  width: 250px;
  margin-top: 50px;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 7px;
}

@media (min-width: 768px) {
  .grillaProductos {
    gap: 1em;
    padding: 1em;
  }
  .mainProductos h1 {
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(31, 31, 31);
    margin-top: 1em;
  }
}
@media (min-width: 820px) {
  .productosImagen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .productos {
    text-align: center;
    color: grey;
    margin: 5% 33% 1% 33%;
  }
}
main {
  grid-area: mainContacto;
}

form {
  grid-area: form;
}

.mapa {
  grid-area: mapa;
}

.grillaContacto {
  display: grid;
  grid-template-areas: "header" "mainContacto" "form" "mapa" "footer";
}

.conectanos {
  text-align: center;
  color: grey;
  padding-bottom: 60px;
  border-bottom: 1px solid rgb(31, 31, 31);
  margin-top: 1em;
}

form {
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
form h2 {
  margin: 10px;
  color: rgb(88, 88, 88);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}

input, textarea {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  border: none;
}

#boton {
  background-color: white;
  border: none;
  padding: 20px;
}

#boton:hover {
  cursor: pointer;
}

iframe {
  width: 100vw;
}

@media (min-width: 768px) {
  .grillaContacto {
    display: grid;
    grid-template-areas: "header header" "mainContacto mainContacto" "form mapa" "footer footer";
  }
  .grillaContacto {
    gap: 3em;
    padding: 2em;
    grid-template-columns: 1fr 2fr;
  }
  form {
    width: 400px;
    margin-left: 20px;
  }
  iframe {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .conectanos {
    text-align: center;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(48, 48, 48);
  width: 100%;
  margin-bottom: 0;
  margin-top: 60px;
}
.footer h4 {
  font-weight: 100;
  font-size: 1em;
  font-style: italic;
  color: white;
  text-align: center;
  margin-top: 5px;
}
.footer .footer img {
  height: 35px;
  width: 35px;
  padding-left: 5px;
}

@media (min-width: 1024px) {
  .footer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 0;
  }
  .footer h4 {
    font-weight: 100;
    font-style: italic;
    color: white;
    text-align: center;
  }
  .redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .envios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .pedidos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}/*# sourceMappingURL=style.css.map */