.mainServicios {
    grid-area: mainServicios;
}
.servicios {
    grid-area: servicios;
}
.serviciosRealizados {
    grid-area: serviciosRealizados;
}
.contenedor {
    grid-area: contenedor;
}
.grillaServicios {
    display: grid;
    grid-template-areas: 
    "header"
    "mainServicios"
    "servicios"
    "serviciosRealizados"
    "contenedor"
    "footer";
}
.mainServicios{
    h1{
    text-align: center;
    color: $titulo;
    border-bottom: 1px solid black;
    margin-bottom: 2em;
    padding: 1em 0.5em 2em 0.5em;
    font-family: 'Roboto Slab', serif;
    font-size: 2em;
}
}
.imgServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    img {
        width: 280px;
        height: 180px;
    }
    figcaption {
        margin-bottom: 3em;
    }
}
.serviciosRealizados {
    background-color: rgb(48, 48, 48);
    padding-bottom: 4em;
    padding-top: 2em;
    margin-bottom: 4em;
    h2 {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 25px;
    margin-bottom: 1em;
    }
    h3 {
    font-style: italic;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    }
    h4 {
    font-style: italic;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 16px;
    margin-bottom: 2em;
    margin-top: 2em;
    }
}
.slider {
    z-index: 1;
}
.contendedorSlider {
    margin: auto;
    background-color: white;
    width: 800px;
    height: 400px;
    padding: 20px;
}
ul li {
    list-style: none;
}
ul.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
ul.slider li{
    position: absolute;
    opacity: 0;
    height: inherit;
    transition: opacity 0.5s;
    img {
    width: 300px;
    height: 150px;
    }
} 
ul.slider li img {
    width: 300px;
    height: 150px;
}
ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1; 
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5em;
}
.menu li a {
    color: white;
    margin: 5px;
}
.yorkshire img {
    width: 250px;
    height: 180px;
} 
.yorkshireImg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .grillaServicios {
        gap: 2em;
        padding: 1em;  
    }
    .serviciosRealizados {
        margin: 2em;
    }
    
    .serviciosRealizadosImg img {
            width: 300px;
            height: 300px;
            margin: 40px 10px 50px 10px;
            border: 2px solid gainsboro;
        }
      
        ul.slider {
            height: 400px;
            width: 100%;
        }
        ul.slider li img {
            width: 600px;
            height: 350px;
        }
    }
@media (min-width:820px) {
    .yorkshireImg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5em; 
    }
}
@media (min-width: 1024px) {
    .imgServicios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2em;
        text-align: center;
    }
    .servicios1:hover {
        transform: scale(1.2);
    }
    .servicios1 {
        transition: all 3s;
    }
    .servicios2:hover {
        transform: scale(1.2);
    }
    .servicios2 {
        transition: all 3s;
    }
    .servicios3:hover {
        transform: scale(1.2);
    }
    .servicios3 {
        transition: all 3s;
    }
    .serviciosRealizadosTitulo {
        text-align: center;
        margin: 2em 4em 2em 2em;
    }
}